<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간맛집</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/order-complete/order-complete.css" />
    <script type="module" defer src="/common.js"></script>
    <script
      type="module"
      defer
      src="/order-complete/order-complete.js"
    ></script>
  </head>
  <body>
    <div class="orderComplete__container">
      <main id="orderList">
        <h2>ORDER LIST</h2>
      </main>
    </div>
  </body>
</html>
