<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간맛집</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/mypage-order/myorder.css" />
    <script type="module" defer src="/common.js"></script>
    <!-- <script type="module" defer src="/mypage-order/myorder.js"></script> -->
  </head>
  <body>
    <div class="order__container">
      <main id="orderList">
        <h2>ORDER LIST</h2>
        <article class="order">
          <p class="order__change">
            <button type="button" class="changeBtn">배송 정보 수정</button>
          </p>
          <h3>배송 정보</h3>
          <ul class="order__info">
            <li>
              <span>주문 일시</span>
              <p class="receiverName">2023년 01월 25일 15시 30분</p>
            </li>
            <li>
              <span>받는 사람</span>
              <p class="receiverName">김땡땡</p>
            </li>
            <li>
              <span>전화번호</span>
              <p class="receiverPhone">01012341234</p>
            </li>
            <li>
              <span>주소</span>
              <div class="receiverAddress">
                <span>(012345)</span>
                <span>서울특별시 노원구 공릉로 11111111</span>
                <span>하계우성아파트 1동 10호</span>
              </div>
            </li>
            <li>
              <span>주문 현황</span>
              <p class="orderStatus">결제 완료</p>
            </li>
          </ul>
          <ul class="order__item__list">
            <li class="order__item">
              <div class="order__item__image">
                <a href="#"></a>
              </div>
              <ul class="order__item__detail">
                <li>
                  <span class="company">회사이름</span>
                </li>
                <li>
                  <a href="#" class="productName">비스포크비스포크비스포크</a>
                </li>
                <li>
                  <span class="price">1,350,000원</span>
                  <span class="quantity">2개</span>
                </li>
                <li>
                  총 결제 금액
                  <span class="totalPrice">2,700,000원</span>
                </li>
                <li>
                  주문 상태
                  <span class="status">결제 완료</span>
                </li>
              </ul>
              <div class="order__item__cancel">
                <button class="cancelBtn">주문 취소</button>
              </div>
            </li>
            <li class="order__item">
              <div class="order__item__image">
                <a href="#"></a>
              </div>
              <ul class="order__item__detail">
                <li>
                  <span class="company">회사이름</span>
                </li>
                <li>
                  <a href="#" class="productName">비스포크비스포크비스포크</a>
                </li>
                <li>
                  <span class="price">1,350,000원</span>
                  <span class="quantity">2개</span>
                </li>
                <li>
                  총 결제 금액
                  <span class="totalPrice">2,700,000원</span>
                </li>
                <li>
                  주문 상태
                  <span class="status">결제 완료</span>
                </li>
              </ul>
              <div class="order__item__cancel">
                <button class="cancelBtn">주문 취소</button>
              </div>
            </li>
            <li class="order__item">
              <div class="order__item__image">
                <a href="#"></a>
              </div>
              <ul class="order__item__detail">
                <li>
                  <span class="company">회사이름</span>
                </li>
                <li>
                  <a href="#" class="productName">비스포크비스포크비스포크</a>
                </li>
                <li>
                  <span class="price">1,350,000원</span>
                  <span class="quantity">2개</span>
                </li>
                <li>
                  총 결제 금액
                  <span class="totalPrice">2,700,000원</span>
                </li>
                <li>
                  주문 상태
                  <span class="status">결제 완료</span>
                </li>
              </ul>
              <div class="order__item__cancel">
                <button class="cancelBtn">주문 취소</button>
              </div>
            </li>
            <li class="order__item">
              <div class="order__item__image">
                <a href="#"></a>
              </div>
              <ul class="order__item__detail">
                <li>
                  <span class="company">회사이름</span>
                </li>
                <li>
                  <a href="#" class="productName">비스포크비스포크비스포크</a>
                </li>
                <li>
                  <span class="price">1,350,000원</span>
                  <span class="quantity">2개</span>
                </li>
                <li>
                  총 결제 금액
                  <span class="totalPrice">2,700,000원</span>
                </li>
                <li>
                  주문 상태
                  <span class="status">구매 완료</span>
                </li>
              </ul>
              <div class="order__item__cancel">
                <button class="cancelBtn">주문 취소</button>
              </div>
            </li>
          </ul>
          <ul class="order__item__total"></ul>
        </article>
      </main>
    </div>
  </body>
</html>
