@import url("https://font.elice.io/EliceDigitalCoding.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

html {
  --main-color: #7353ea;
  --sub-1-color: #e9e1ff;
  --sub-2-color: #524fa1;
  --title-font: "Elice Digital Coding", "monospace";
  --main-font: "Nanum Gothic", sans-serif;
}

/* RESET CSS : Start */
* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* RESET CSS : End */

/* header CSS : Start */
.header__container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.header__container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

.header__container > header > h1 img {
  width: 100px;
}

.header__container > header > #gnb__category {
  display: flex;
  justify-content: space-around;
}

.header__container > header > #gnb__category > li {
  margin: 0px 10px;
}

.header__container > header > #gnb__category > li > a {
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 600;
  color: #333;
}

.header__container > header > #gnb__category > li > a:hover {
  color: var(--main-color);
}

.header__container > header > nav > #gnb__user {
  display: flex;
}

.header__container > header > nav > #gnb__user > li {
  margin: 0px 10px;
}

.header__container > header > nav > #gnb__user > li > a {
  font-size: 12px;
  font-family: var(--main-font);
  font-weight: 600;
  color: #555;
}
/* header CSS : End */

/* footer CSS : Start */
.footer__container {
  width: 100%;
  height: 80px;
  border-top: 1px solid #ddd;
  background-color: #faf5f5;
}

.footer__container > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.footer__container > footer > p {
  font-size: 10px;
  font-family: var(--main-font);
  color: #888;
}
/* footer CSS : End */
