* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #e9e1ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  width: 400px;
  max-width: 90%;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input[type='email'],
input[type='text'],
input[type='password'],
input[type='tel'],
input[type='search'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888888;
  font-size: 16px;
  outline: none;
}

#postalCode {
  cursor: pointer;
}

.submitButton {
  padding: 10px 20px;
  background-color: #7353ea;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

input[type='email'][autocomplete='on'],
input[type='text'][autocomplete='on'],
input[type='password'][autocomplete='on'],
input[type='tel'][autocomplete='on'],
input[type='search'][autocomplete='on'] {
  -webkit-autofill: auto-fill;
  -webkit-box-shadow: 0 0 0 1000px #f5f5f5 inset;
}
