h2 {
  padding-top: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0px 10px;
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
}

.control {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

#postalCode {
  flex: 7;
  margin-right: 10px;
}

#searchAddressButton {
  flex: 3;
  height: 35px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.field2 input {
  margin-bottom: 10px;
}

input[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

input[type='submit']:hover {
  background-color: var(--sub-2-color);
}

.error_Area {
  margin-top: 10px;
}

#error_message {
  font-size: 14px;
  color: red;
}

#pwerror {
  font-size: 14px;
  color: red;
}
#pwsame {
  font-size: 14px;
  color: blue;
}
