<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간맛집</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./main.css" />
    <script type="module" defer src="../common.js"></script>
  </head>
  <body>
    <figure class="banner__container">
      <div class="img"></div>
    </figure>
    <main class="product__container">
      <h2>PRODUCTS</h2>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
      <article>
        <div class="product__img"></div>
        <div class="product__detail">
          <h3 class="product__title">아이템아이템아이템아이템</h3>
          <p class="product__price">10,000</p>
        </div>
      </article>
    </main>
  </body>
</html>
