<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간맛집</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/main/main.css" />
    <script type="module" defer src="/common.js"></script>
    <script type="module" defer src="/main/main.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <figure class="banner__container">
        <div class="banner__image"></div>
        <div class="banner__detail">
          <h2>맛있는 공간, 행복한 삶</h2>
          <p>Tasty Spaces, Happy Life</p>
        </div>
      </figure>
      <main class="product__container">
        <h2>PRODUCTS</h2>
        <!-- 상품 목록 -->
      </main>
    </div>
  </body>
</html>
