<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공간맛집</title>
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/order/order.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="module" defer src="/common.js"></script>
    <script type="module" defer src="/order/order.js"></script>
  </head>
  <body>
    <div class="order__container">
      <form>
        <main>
          <h2>주문/결제</h2>
          <div class="orderer__info">
            <h3>주문자</h3>
            <ul>
              <li>
                <label for="ordererName">이름</label>
                <span id="ordererName"></span>
              </li>
              <li>
                <label for="ordererEmail">이메일</label>
                <span id="ordererEmail"></span>
              </li>
              <li>
                <label for="ordererPhone">휴대전화</label>
                <span id="ordererPhone"></span>
              </li>
            </ul>
          </div>
          <div class="receiver__info">
            <h3>배송지</h3>
            <ul>
              <li>
                <label for="receiverName">받는 사람</label>
                <input type="text" name="receiverName" id="receiverName" />
              </li>
              <li>
                <label for="receiverPhone">연락처</label>
                <input type="text" name="receiverPhone" id="receiverPhone" />
              </li>
              <li class="address__box">
                <label for="receiverAddress">주소</label>
                <ul class="address__input">
                  <li>
                    <input
                      type="text"
                      name="receiverAddress"
                      id="receiverAddress"
                      title="postalCode"
                      readonly
                    />
                    <button type="button" id="searchAddressBtn">
                      주소찾기
                    </button>
                  </li>
                  <li>
                    <input
                      type="text"
                      name="receiverAddress"
                      title="address1"
                      readonly
                    />
                  </li>
                  <li>
                    <input
                      type="text"
                      name="receiverAddress"
                      title="address2"
                    />
                  </li>
                </ul>
              </li>
              <li>
                <label for="request">요청사항</label>
                <input type="text" name="request" id="request" />
              </li>
            </ul>
          </div>
          <div class="order__info">
            <h3>주문 상품</h3>
            <ul class="order__products"></ul>
          </div>
        </main>
        <aside>
          <h3>결제금액</h3>
          <ul class="payment__info">
            <li>
              총 상품 금액
              <span class="totalPrice">0원</span>
            </li>
            <li>
              배송비
              <span>0원</span>
            </li>
            <li>
              최종 결제 금액
              <span class="totalPrice">0원</span>
            </li>
          </ul>
          <button id="payBtn" type="submit">결제하기</button>
        </aside>
      </form>
    </div>
  </body>
</html>
