/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2.5em !important;
  margin-bottom: 20px;
}

h2 {
  width: 100%;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
}
#addProductForm {
  height: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between !important;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

form label {
  display: block;
  width: 20%;
  font-size: 0.9em;
  margin: 10px 0;
}

form input,
form textarea,
form select {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 0.9em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form textarea {
  resize: vertical;
}

form button {
  display: block;
  background-color: #5dade2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.9em;
  margin: 10px auto;
}

form button:hover {
  background-color: #3498db;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

table th {
  background-color: #f4f4f4;
}
