main {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 50px 0px;
  font-family: var(--main-font);
}

.product-list {
  width: 70%;
  height: auto;
  padding-right: 50px;
  box-sizing: border-box;
}

.select-all {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.product-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 180px;
  margin: 20px 0px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.product-detail {
  margin-left: 15px;
}

.product-checkbox {
  display: flex;
  align-items: center;
  width: 20px;
  height: 100%;
}

.product-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-color: aliceblue;
}

.cart-summary {
  width: 30%;
  height: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.close-button svg {
  width: 25px;
  cursor: pointer;
}

.close-button path {
  fill: #bbb;
}

.product-quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 20px;
  color: #888;
  cursor: pointer;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.total-price {
  font-size: 20px;
  font-weight: 800;
  color: var(--main-color);
}

.purchase {
  display: flex;
  justify-content: center;
}

.button.is-info {
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.button.is-info:hover {
  background-color: var(--sub-2-color);
}
