/* common.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

h1 {
  font-size: 2rem;
  color: #444;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

form div {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input,
input[type='tel'] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

.error_Area {
  color: red;
  margin-top: 0.5rem;
}

.field.is-horizontal {
  display: flex;
  align-items: center;
}

.field-label.is-normal {
  flex: 1;
}

.no-label {
  visibility: hidden;
}

.field-body {
  flex: 4;
}

.field-body .search {
  display: flex;
}

.field-body .search .field {
  flex: 4;
}

.field-body .search button {
  flex: 1;
  margin-left: 1rem;
}
